.vscode/

.cache/

build/
build-log.txt
compile_commands.json

*.o
*.cmd

/.version
/.config
/scripts/basic/docproc
/scripts/basic/fixdep
/scripts/basic/split-include
/scripts/kconfig/conf
/scripts/kconfig/mconf
/scripts/kconfig/lex.zconf.c
/scripts/kconfig/zconf.tab.c
/scripts/kconfig/zconf.tab.h
/scripts/lxdialog/lxdialog